<link rel="stylesheet" href="{{ url_for('footer.static', filename='css/footer.css') }}"/>

    <footer class="general-footer">
        <div class="general-footer-container">
            <ul>
                <li class="titles">עקבו אחרינו</li>
                <li><a href="https://www.facebook.com/TALIAnevetzedek"><img src="{{ url_for('footer.static', filename='media/img/facebook.png') }}" alt="icon" height="40" width="40">  פייסבוק</a></li>
                <li><a href="https://www.instagram.com/talia_flowers_nevetzedek/"><img src="{{ url_for('footer.static', filename='media/img/insta.png') }}" alt="icon" height="27" width="30">     אינסטגרם</a></li>
            </ul>
            <ul>
                <li class="titles">צרו קשר</li>
                <li><img src="{{ url_for('footer.static', filename='media/img/phone.png') }}" alt="icon" height="30" width="30">  050-2533955 </li>
                <li><img src="{{ url_for('footer.static', filename='media/img/mail.png') }}" alt="icon" height="30" width="25"><a href="mailto:office@talia.co.il" class="originalLink"> office@talia.co.il </a></li>
            </ul>
            <ul>
                <li class="titles">החנות</li>
                <li><img src="{{ url_for('footer.static', filename='media/img/location.png') }}" alt="icon" height="25" width="20"></i>   שבזי 25,נווה צדק ת"א</li>
                <li><img src="{{ url_for('footer.static', filename='media/img/clock.png') }}" alt="icon" height="35" width="35">   ימים א'-ה': 09:00-19:00</li>
            </ul>
        </div>
    </footer>
