@import "variables.css";

* {
    box-sizing: border-box;
    direction: rtl;
}

html {
  height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-text);
    min-height: 100vh;
}

.page-main{
    min-height: 61vh;
}
