
*{
    font-family: var(--font-text);
}

.product-title{
    font-weight: normal;
    font-size: 33px;
    margin:0;
    text-align: center;
    padding-bottom: 15px;
}

.product-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding-top: 130px;
    padding-bottom:162px;
    text-align: center;
}

.product-content{
    font-size: 17px;
}

.product-price{
    font-size: 20px;
}

.product-button {
    display: inline-block;
    margin-top:10px;
    background: var(--color_background_buttons);
    color: var(--color_text_buttons);
    text-decoration: none;
    padding: 6px 23px;
    transition: 0.2s;
    font-weight: bold;
    border: 2px solid #000;
}

.product-button:hover{
    background: var(--color_text_buttons);
    color: var(--color_background_buttons);
}


.container {
    max-width: 100% !important;
    margin-right: 0px!important;
    margin-left: 0px!important;
    padding-right: 15px;
    padding-left:15px;
    padding-bottom: 50px;
}

.img-box {
    width: 375px;
    height: 375px;
    overflow: hidden;
    margin-right: 10px;
}

.product-photo {
    width: 375px;
    height: 375px;
    transition: 0.5s;
}

.product-photo:hover{
    border: none;
    transform: scale(1.2);
}

#msg{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .product-title{
        font-size: 16px;
        font-weight: bold;
    }
    .product-content {
        font-size:11px;
        margin-top:10px;
    }
    .product-price{
        font-size:11px;
        margin-top:5px;
    }
    .product-button{
        font-size: 11px;
    }
    .product-photo{
        height: 280px;
        width: 300px;


    }

}