{% extends 'base.html' %}

{% set page_head_title = 'אודות' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('about.static', filename='css/about.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
   <div class="container">

        <div class="about_text" dir="rtl">
            <article>
                <h1 class="about_title">
                    אודות
                    <b>TALIA</b>
                </h1>
                <p>חנות בוטיק ועיצוב פרחים באזור תל אביב אצלנו תמצאו אהבה גדולה לפרחים ואהבה גדולה יותר לעיצוב עם תשומת לב מיוחדת לפרטים הקטנים, לאיכות ולייחודיות. אצלנו תוכלו למצוא את זרי הפרחים הכי עדכניים בהתאם לטרנדים עולמיים. קולקציות מעודכנות ומתחלפות של פריטי עיצוב,  זרי פרחים, זרי ראש וזרי כלה בהתאם לעולם העיצוב עם דגש על אופנתיות ואיכות שילוו אתכם ומותאמים לחיים המשתנים והדינאמיים. לארועים ושמחות אנחנו מגיעים עם דוכן שזירה מלא בפרחים בו נקשט את כל האורחים שלכם ואם בא לכם ללמוד לשזור מתקיימות אצלנו סדנאות ללימוד שזירה ועיצוב פרחים.
                    <br>
                    <br>
אנו שמחים להזמין אתכם אל חנות האינטרנט שלנו המאפשרת לכם ליהנות ממשלוחי פרחים מיוחדים, זרים איכותיים וטריים, זרי כלה וזרי ראש וקופסאות פרחים בעיצובים שונים. בחנות הפרחים שלנו תמצאו את המוצרים המושלמים עבורכם, קנייה מהירה וקלה, מבחר פריטים שונה מגוון וייחודי, ממשק אינטרנט נוח, שירות אישי, משלוחים מהירים ובקיצור כל מה שאתם צריכים בשביל להפוך את הביקור בחנות האינטרנט שלנו לחוויית קנייה מהנה ומהירה 24 שעות ביממה.</p>
            </article>
         <div>
                <img class="about_img" src="{{ url_for('about.static', filename='media/img/talia.jpg') }}" alt="talia_img">
         </div>
       </div>

    </div>

{% endblock %}

