{% extends 'base.html' %}

{% set page_head_title = 'התחברות' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('sign_in.static', filename='css/sign_in_up.css') }}"/>
{% endblock %}
{% block page_head_js %}
    <script src="{{ url_for('sign_in.static', filename='js/sign_in.js') }}"></script>
{% endblock %}


{% block page_body_main_content %}
    <div id="container">
        <section class="sign-page">
                <h2>התחברות לאתר</h2><br>
                <form method="post" action="/sign_in_req">
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                    <label for="Email" >אימייל:</label>
                    <input type="email" placeholder="הכנס אימייל" id="Email" name="Email" required/>
                    <p id="note1"></p>
                    <label for="Password">סיסמה:</label>
                    <input type="password" placeholder="הכנס סיסמה"  id="Password" name="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="הסיסמה חייבת להכיל לפחות ספרה אחת ואות גדולה וקטנה אחת, ולפחות 8 תווים או יותר" required/><br>
                    <p id="note2"></p>
                    <button type="submit" class="button" onclick="checkValidMail('Email','note1'), checkValidPass('Password','note2')">התחבר/י</button><br><br>
                </form>
            <a id="signUp" href="{{ url_for('sign_up.index') }}">להרשמה לחצ/י כאן</a>
        </section>
    </div>

{% endblock %}



